In [17]:
import requests
import pandas as pd
import os
import json

In [12]:
base_url = "https://api.transport.nsw.gov.au/v1/traffic_volume"
api_key = os.environ.get('TRANSPORTNSW_APIKEY', 'blank')

headers = {
    "accept": "application/json",
    "Authorization": f"apikey {api_key}"
}
params = {
    "format": "json",
    "q": 'select * from road_traffic_counts_hourly_permanent where date("date") between \'2025-05-01\' and \'2025-06-01\''
}

response = requests.get(base_url, params=params, headers=headers)

In [28]:
json_data = response.json()['rows']
request_duration = response.json()['time']
fields = response.json()['fields']

In [31]:
with open("output.json", "w") as f:
    json.dump(json_data, f, indent=2)

In [32]:
!ls -lah

total 41016
drwxr-xr-x  6 romadv-mac  staff   192B Jul  8 22:35 .
drwxr-xr-x  3 romadv-mac  staff    96B Jul  8 21:39 ..
drwxr-xr-x@ 3 romadv-mac  staff    96B Jul  8 21:46 .ipynb_checkpoints
-rw-r--r--@ 1 romadv-mac  staff    18K Jul  8 22:35 extract_data.ipynb
-rw-r--r--@ 1 romadv-mac  staff   203B Jul  8 22:12 myenv.sh
-rw-r--r--@ 1 romadv-mac  staff    19M Jul  8 22:35 output.json

In [48]:
df = pd.read_json('output.json', convert_dates=['date', 'updated_on'])

In [49]:
df.dtypes

cartodb_id                              int64
the_geom                              float64
the_geom_webmercator                  float64
record_id                             float64
station_key                             int64
traffic_direction_seq                   int64
cardinal_direction_seq                  int64
classification_seq                      int64
date                      datetime64[ns, UTC]
year                                    int64
month                                   int64
day_of_week                             int64
public_holiday                           bool
school_holiday                           bool
daily_total                             int64
hour_00                               float64
hour_01                               float64
hour_02                               float64
hour_03                               float64
hour_04                               float64
hour_05                               float64
hour_06                               float64
hour_07                               float64
hour_08                               float64
hour_09                               float64
hour_10                               float64
hour_11                               float64
hour_12                               float64
hour_13                               float64
hour_14                               float64
hour_15                               float64
hour_16                               float64
hour_17                               float64
hour_18                               float64
hour_19                               float64
hour_20                               float64
hour_21                               float64
hour_22                               float64
hour_23                               float64
md5                                    object
updated_on                datetime64[ns, UTC]
dtype: object

In [51]:
hours_fillna={'hour_00': 0, 'hour_01': 0, 'hour_02': 0, 'hour_03': 0, 'hour_04': 0, 'hour_05': 0, 'hour_06': 0, 'hour_07': 0, 'hour_08': 0, 'hour_09': 0, 'hour_10': 0, 'hour_11': 0, 'hour_12': 0, 'hour_13': 0, 'hour_14': 0, 'hour_15': 0, 'hour_16': 0, 'hour_17': 0, 'hour_18': 0, 'hour_19': 0, 'hour_20': 0, 'hour_21': 0, 'hour_22': 0, 'hour_23': 0}
df = df.fillna(value=hours_fillna)

In [52]:
df.astype({
'cartodb_id': 'int64',
'the_geom': 'float64',
'the_geom_webmercator': 'float64',
'record_id': 'float64',
'station_key': 'int64',
'traffic_direction_seq': 'uint8',
'cardinal_direction_seq': 'uint8',
'classification_seq': 'uint8',
'date': 'datetime64[ns, UTC]',
'year': 'uint16',
'month': 'uint8',
'day_of_week': 'uint8',
'public_holiday': 'bool',
'school_holiday': 'bool',
'daily_total': 'int64',
'hour_00': 'uint8',
'hour_01': 'uint8',
'hour_02': 'uint8',
'hour_03': 'uint8',
'hour_04': 'uint8',
'hour_05': 'uint8',
'hour_06': 'uint8',
'hour_07': 'uint8',
'hour_08': 'uint8',
'hour_09': 'uint8',
'hour_10': 'uint8',
'hour_11': 'uint8',
'hour_12': 'uint8',
'hour_13': 'uint8',
'hour_14': 'uint8',
'hour_15': 'uint8',
'hour_16': 'uint8',
'hour_17': 'uint8',
'hour_18': 'uint8',
'hour_19': 'uint8',
'hour_20': 'uint8',
'hour_21': 'uint8',
'hour_22': 'uint8',
'hour_23': 'uint8',
'md5': 'object',
'updated_on': 'datetime64[ns, UTC]'
})

,cartodb_id,the_geom,the_geom_webmercator,record_id,station_key,traffic_direction_seq,cardinal_direction_seq,classification_seq,date,year,...,hour_16,hour_17,hour_18,hour_19,hour_20,hour_21,hour_22,hour_23,md5,updated_on
0,9740649,NaN,NaN,NaN,48596004,1,1,2,2025-05-10 00:00:00+00:00,2025,...,80,60,46,33,22,27,16,10,bddf8a1b95ea646d4c3843ef3936d427,2025-06-04 12:55:50.046020+00:00
1,9740628,NaN,NaN,NaN,74762001,1,1,2,2025-05-27 00:00:00+00:00,2025,...,123,118,71,41,30,13,17,17,2e05d97cd3bf3437c27e097c52c3b3ef,2025-06-04 12:55:50.046020+00:00
2,9740629,NaN,NaN,NaN,15175636,0,5,3,2025-05-15 00:00:00+00:00,2025,...,19,7,9,1,1,4,0,0,e5088dcefe495ba168c3167fc1a6cb54,2025-06-04 12:55:50.046020+00:00
3,9740630,NaN,NaN,NaN,15286015,1,5,3,2025-05-15 00:00:00+00:00,2025,...,74,48,37,26,23,19,8,9,73371fd74882c4f0d7356202a34b0c0f,2025-06-04 12:55:50.046020+00:00
4,9740631,NaN,NaN,NaN,57005,1,7,3,2025-05-20 00:00:00+00:00,2025,...,149,109,81,101,60,71,46,0,e1b220333cd9792000e7968296925f9b,2025-06-04 12:55:50.046020+00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20836,9740666,NaN,NaN,NaN,57268,1,7,2,2025-05-06 00:00:00+00:00,2025,...,220,88,212,80,150,78,76,47,8cbf8016e0034118ae9305cdfece1a5f,2025-06-04 12:55:50.046020+00:00
20837,9740667,NaN,NaN,NaN,15334004,1,5,3,2025-05-07 00:00:00+00:00,2025,...,106,94,47,35,31,19,17,18,4c5550ffc3ab07d71acc20fab6b16d9b,2025-06-04 12:55:50.046020+00:00
20838,9740668,NaN,NaN,NaN,15334006,0,5,2,2025-05-05 00:00:00+00:00,2025,...,137,198,56,36,110,41,135,62,c42b96b6cadf786698d3f126c1c6e47d,2025-06-04 12:55:50.046020+00:00
20839,9740669,NaN,NaN,NaN,47246004,0,1,3,2025-05-05 00:00:00+00:00,2025,...,36,32,25,21,22,28,26,11,9d9835a57ef093d29d3ddece4fc88691,2025-06-04 12:55:50.046020+00:00
20840,9740670,NaN,NaN,NaN,74886000,1,1,3,2025-05-20 00:00:00+00:00,2025,...,48,49,30,31,21,15,14,17,a0633ce576754573777d4b5179aebc6a,2025-06-04 12:55:50.046020+00:00

In [53]:
df.to_parquet('output.parquet', engine='pyarrow')

In [ ]:
# save to s3